---
import aboutme from "src/texts/aboutme.json"


const personalImageAlt = "Jorge Badillo"
const { lang } = Astro.props as { lang: 'en' | 'es' };
console.log("JSON loaded:", aboutme);
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
  class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    {aboutme[lang].introduction.presentation}
    <strong>{aboutme[lang].introduction.focus1}</strong>
    {aboutme[lang].introduction.middle}
    <strong>{aboutme[lang].introduction.focus2}</strong>
  </p>
  <p>
    {aboutme[lang].successes.title}
    <ul class="text-pretty [&_li_strong]:text-yellow-500 dark:[&_li_strong]:text-yellow-100 [&_li_strong]:font-normal [&_li_strong]:font-mono">
      <li>
        {aboutme[lang].successes.item1.part1}
        <strong>{aboutme[lang].successes.item1.strong1}</strong>
        {aboutme[lang].successes.item1.part2}
      </li>
      <li>
        {aboutme[lang].successes.item2.part1}
        <strong>{aboutme[lang].successes.item2.strong1}</strong>
        {aboutme[lang].successes.item2.part2}
        <strong>{aboutme[lang].successes.item2.strong2}</strong>
      </li>
      <li>
        {aboutme[lang].successes.item3.part1}
        <strong>{aboutme[lang].successes.item3.strong1}</strong>
        {aboutme[lang].successes.item3.part2}
        <strong>{aboutme[lang].successes.item3.strong2}</strong>
      </li>
    </ul>
  </p>
  <br>
  <p>
    {aboutme[lang].entrepreneurship.part1}
    <strong>{aboutme[lang].entrepreneurship.strong1}</strong>
    {aboutme[lang].entrepreneurship.part2}
    <strong><em class="italic">{aboutme[lang].entrepreneurship.strong2}</em></strong>
    {aboutme[lang].entrepreneurship.part3}
  </p>
  </div>
  
  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  
</article>
