---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import CodeIcon from "./icons/Code.astro";
import ExternalLink from "./icons/ExternalLink.astro";
import LinkButton from "./LinkButton.astro";
import projectsData from "@/data/projects.json";

const TAGS: Record<string, { name: string; tone: string; icon: any }> = {
  NEXT: {
    name: "Next.js",
    tone: "neutral",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    tone: "neutral",
    icon: Tailwind,
  },
  VANILLA: {
    name: "Vanilla JS",
    tone: "js",
    icon: CodeIcon,
  },
};

const PROJECTS = projectsData.map((project) => ({
  ...project,
  tags: project.tags.map((key) => TAGS[key]),
}));
---

<div class="projects-list">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, store }) => (
      <article class="project-item">
        <div class="project-media">
          <div>
            <img
              alt={title}
              class="project-media-image"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div>
          <h3 class="project-title">{title}</h3>
          <ul class="project-tags">
            {tags.map((tag) => (
              <li>
                <span class={`project-tag project-tag--${tag.tone}`}>
                  <tag.icon />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <p class="project-description">{description}</p>
          <footer class="project-actions">
            {github && (
              <LinkButton href={github}>
                <GitHub />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <ExternalLink />
                Landing
              </LinkButton>
            )}
            {store && (
              <LinkButton href={store}>
                <ExternalLink />
                Store
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
