---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Spring from "./icons/Spring.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import Java from "./icons/Java.astro"
import Dotnet from "./icons/Dotnet.astro"
import Csharp from "./icons/Cscharp.astro"
import EF from "./icons/EF.astro"
import MySql from "./icons/MySql.astro"
import Sqlserver from "./icons/Sqlserver.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SPRING: {
    name: "Spring Boot",
    class: "bg-green-500 text-white",
    icon: Spring,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-purple-500 text-white",
    icon: Bootstrap,
  },
  JAVA: {
    name: "Java",
    class: "bg-white text-black",
    icon: Java,
  },
  DOTNET: {
    name: "Dotnet 8",
    class: "bg-white text-black",
    icon: Dotnet,
  },
  CSHARP: {
    name: "CSharp",
    class: "bg-purple-500 text-white",
    icon: Csharp,
  },
  EF: {
    name: "EF Core",
    class: "bg-white text-black",
    icon: EF,
  },
  MYSQL: {
    name: 'My<span class="text-yellow-400">SQL</span>',
    class: "bg-white text-blue-500",
    icon: MySql,
  },
  SQLSERVER: {
    name: `
      <span class="flex flex-col items-center leading-none">
        <span class="text-[8px] text-gray-500 font-semibold flex items-center gap-0.5">
          Microsoft
          <span class="text-[6px] align-super">®</span>
        </span>
        <span>SQLServer</span>
      </span>
    `,
    class: "bg-white text-black",
    icon: Sqlserver,
  },
}
const PROJECTS = [
  {
    title: "Sistema de registro y autenticación de clientes con SpringBoot y Thymeleaf",
    description:
      "Aplicación web para la gestión y registro de clientes desarrollada desde cero con SpringBoot 3.x, JDK 17+, Thymeleaf y Bootstrap 5.",
    link: "https://www.linkedin.com/in/geraldcaris/",
    github: "https://github.com/mcarisc/registroClientes",
    image: "/projects/appclisbtm.webp",
    tags: [TAGS.JAVA, TAGS.SPRING, TAGS.BOOTSTRAP, TAGS.MYSQL],
  },
  {
    title: "FinanceApi RestFul con NET 8 y C#",
    description:
      "API RestFul para la gestión de finanzas personales desarrollada desde cero con .NET 8, C# y Entity Framework Core.",
    link: "https://www.linkedin.com/in/geraldcaris/",
    github: "https://github.com/mcarisc/FinanceApi",
    image: "/projects/financeapi.webp",
    tags: [TAGS.DOTNET, TAGS.CSHARP, TAGS.EF, TAGS.SQLSERVER],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                <span set:html={tag.name} />
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



