---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Node from "./icons/Node.astro"
import Express from "./icons/Express.astro"
import Stripe from "./icons/Stripe.astro"
import Twilio from "./icons/Twilio.astro"
import EC2 from "./icons/EC2.astro"
import MongoDB from "./icons/MongoDB.astro"
import Sendgrid from "./icons/Sendgrid.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Node Js",
    class: "bg-[#003159] text-white",
    icon: Node,
  },
  EXPRESS:{
    name: "Express Js",
    class: "bg-[#003159] text-white",
    icon: Express,
  },
  STRIPE:{
    name: "Stripe",
    class: "bg-[#003159] text-white",
    icon: Stripe,
  },
  TWILIO:{
    name: "Twilio",
    class: "bg-[#003159] text-white",
    icon: Twilio,
  },
  SENDGRID:{
    name: "Sendgrid",
    class: "bg-[#003159] text-white",
    icon: Sendgrid,
  },
  EC2:{
    name: "EC2",
    class: "bg-[#003159] text-white",
    icon: EC2,
  },
  MONGODB:{
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
}
const PROJECTS = [
  {
    title: "TRIADA - Armoniza tus eventos y conecta con la Música",
    description:
      "Aplicación web que brinda una solución ideal para quienes buscan una manera sencilla y segura de contratar músicos para sus eventos. Con Triada, puedes explorar y seleccionar entre una amplia variedad de músicos y bandas verificadas, asegurándote que tu evento sea un éxito sin preocupaciones.",
    link: "https://www.triada.rocks/",
    github: "https://github.com/triada-project/triada",
    image: "/projects/triada.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS,TAGS.MONGODB, TAGS.STRIPE, TAGS.TWILIO, TAGS.SENDGRID, TAGS.EC2],
  },
  // {
  //   title: "AdventJS - Retos de programación con JavaScript y TypeScript",
  //   description:
  //     "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
  //   link: "https://adventjs.dev",
  //   image: "/projects/adventjs.webp",
  //   tags: [TAGS.NEXT, TAGS.TAILWIND],
  // },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



